<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.mobilehomework">
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <!-- 这个权限用于访问GPS定位 -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <!-- 这个权限用于访问GPS定位 -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <!-- 获取访问手机振动器权限，用于导航过程中的震动提示 -->
    <uses-permission android:name="android.permission.VIBRATE"/>
    <!-- 获取摄像头权限，用于AR步行导航 -->
    <uses-permission android:name="android.permission.CAMERA" />
    <application
        android:allowBackup="true"
        android:icon="@mipmap/logo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">
        <activity android:name=".FoodActivity">

        </activity>
        <activity android:name=".MListActivity" />
        <activity android:name=".MJLListActivity" />
        <activity android:name=".YTListActivity" />
        <activity android:name=".ZkListActivity" />
        <activity android:name=".FoodListActivity" />
        <activity android:name=".StartSportActivity" />
        <activity android:name=".WeatherActivity" />
        <activity android:name=".ForgetActivity" />
        <activity android:name=".LoginActivity" />
        <activity android:name=".RegisterActivity" />
        <activity android:name=".ChatActivity" />
        <activity android:name=".FriendActivity" />
        <activity android:name=".SportStyleActivity" />
        <activity android:name=".KcalPlaneActivity" />
        <activity android:name=".GalleryActivity" />
        <activity android:name=".SportTaskActivity" />
        <activity android:name=".UserActivity" />
        <activity android:name=".StartActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ImageSwitcherActivity" />
        <activity android:name=".PageSwitcher" />
        <activity android:name=".MainActivity" />

        <meta-data
            android:name="com.baidu.lbsapi.API_KEY"
            android:value="4BxgP2fpVKVF4U1oYXUVNGe2oADYW1io" />

        <service android:name=".MyService" />
        <service
            android:name="com.baidu.location.f"
            android:enabled="true"
            android:process=":remote" />
    </application>

    <supports-screens
        android:anyDensity="true"
        android:largeScreens="true"
        android:normalScreens="true"
        android:resizeable="true"
        android:smallScreens="true" /> <!-- 百度地图的屏幕支持 -->
    <uses-feature
        android:name="android.hardware.sensor.stepdetector"
        android:required="true" />
    <uses-feature android:name="android.hardware.sensor.accelerometer" />

    <uses-feature
        android:name="android.hardware.sensor.stepcounter"
        android:required="true" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission
        android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS"
        tools:ignore="ProtectedPermissions" />

    <uses-permission
        android:name="android.permission.WRITE_SETTINGS"
        tools:ignore="ProtectedPermissions" />

</manifest>